footer {
  position: fixed;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;

  width: 100%;
  
  padding: 2rem;

  left: 0;
  bottom: 0;

  border-top: 1px solid rgba(255, 255, 255, 0.247);

  font-size: var(--caption);
  color: var(--footer-color);
}