#page-not-found {
  display: flex;
  /* text-align: center;
  text-justify: justify; */
  
  color: var(--text-color);
}

#text-container {
  display: flex;
  align-items: flex-start;
  text-align: left;
  flex-direction: column;

  margin-left: 9.0rem;
}

#text-container h1 {
  font-size: var(--headline3);
  margin-top: 21.3rem;
  z-index: 1;
}

#text-container p {
  padding-top: 1.9rem;
  font-size: var(--headline5);
  margin-bottom: 3rem;
}

#social-media {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1.5rem;

  width: 3.0rem;
  margin-top: 12.6rem;
}

#instagram:hover {
  background: linear-gradient(90deg, #DF0037 0%, #BE0491 100%);
border-radius: 1000px;
}

#image-404 {
  margin-right: -9.5rem;

  margin-top: 2rem;
  height: 525px;
}

body {
  background-color: #0B0218;
  background-image: url(../../assets/background.svg);
  /* background-position: center; */
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

/* @media (max-width: 1176px) {
  body {
     background-size: cover;
  }

  #page-not-found h1 {
    margin-top: -4rem;
  }
}

@media (max-width: 732px) {
  #page-not-found lottie-player {
    margin-top: -5rem;
  }

  header img#logo {
    width: 16rem;
  }

  #page-not-found h1 {
    font-size: var(--headline4);
    margin-top: -8rem;
  }

  #page-not-found p {
    font-size: var(--subtitle1);
  }
}

@media (max-width: 492px) {
  #page-not-found lottie-player {
    margin-top: 2rem;
    height: 525px;
  }
  #page-not-found h1 {
    font-size: var(--headline5);
  }

  #page-not-found p {
    font-size: var(--subtitle2);
  }
} */