#page-not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-justify: justify;
  flex-direction: column;

  color: var(--text-color);
}

#page-not-found h1 {
  font-size: var(--headline3);
}

#page-not-found p {
  font-size: var(--headline5);
  margin-bottom: 2rem;
}

#page-not-found lottie-player {
  width: 500px; 
  height: 500px;
}