html {
  font-size: 62.5%;
}

body {
  background-color: var(--background-color);
  font-family: 'Poppins', sans-serif;
  width: 100%;
}

main {
  padding-right: 3rem;
  padding-left: 3rem;
  margin-right: auto;
  margin-left: auto;
}