* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button, input[type="submit"], input[type="reset"] {
  margin: 0;
  padding: 0;
  display: inline-block;
  border: none;
  cursor: pointer;
  color: inherit;
  font: inherit;
  outline: none;
  color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-decoration: none;
  background: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}